<ion-content class="ion-padding" style="--background: white; color: black;">
  <div class="login-container" *ngIf="!showOTP"> <!-- Hide login form when showOTP is true -->
    <div class="logo-container">
      <ion-icon name="book-outline" class="book-icon"></ion-icon>
    </div>
    <h1>Login</h1>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <ion-item [class.invalid]="emailInvalid && loginForm.submitted">
        <ion-label position="floating">Username or Phone Number</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>

      <ion-item [class.invalid]="passwordInvalid && loginForm.submitted">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <div *ngIf="backendError" class="error-message">
        <small class="error-text">* {{ backendError }}</small>
      </div>

      <ion-button expand="block" type="submit" class="login-button">Login</ion-button>
    </form>

    <p class="terms">By logging in, you agree to our Terms & Privacy Policy</p>
    <div class="social-login">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-google"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
    <p class="signup-link">Don't have an account? <a (click)="goToSignup()">Sign Up</a></p>
  </div>

  <!-- OTP Form -->
  <div *ngIf="showOTP" class="container">
    <div class="otp-container">
      <ion-icon name="phone-portrait-outline" class="phone-icon"></ion-icon>
      <h2>OTP</h2>
      <p>A 4-digit code has been sent to your registered phone number.</p>

      <div class="otp-input">
        <ion-input type="text" maxlength="1" *ngFor="let _ of [1, 2, 3, 4]; let i = index" [(ngModel)]="otp[i]"
          (ionInput)="moveFocus($event, i)" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
          style="background-color: #ffc107; border-radius: 50%; text-align: center;"></ion-input>
      </div>

      <!-- Display error message if exists -->
      <div *ngIf="backendError" class="error-message">
        <small class="error-text">{{ backendError }}</small>
      </div>

      <p class="resend-text">Didn't receive the code? <span class="resend-link" (click)="resendOtp()">RESEND</span>
      </p>

      <ion-button expand="block" (click)="verifyOtp()" style="--background: #ffd700;">Verify</ion-button>
    </div>
  </div>
</ion-content>