<ion-content class="ion-padding" style="--background: white; color: black;">
  <div class="signup-container">
    <div class="logo-container">
      <ion-icon name="book-outline" class="book-icon"></ion-icon>
    </div>
    <h1>Sign Up</h1>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <ion-item [class.invalid]="nameInvalid && signupForm.submitted">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required
          oninput="this.value = this.value.replace(/[^a-zA-Z]/g, ''); if (/^[0-9.]/.test(this.value)) this.value = '';"></ion-input>
      </ion-item>

      <ion-item [class.invalid]="emailInvalid && signupForm.submitted">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item [class.invalid]="phoneNumberInvalid && signupForm.submitted">
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" required
          oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="10"></ion-input>
      </ion-item>

      <ion-item [class.invalid]="passwordInvalid && signupForm.submitted">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="text" [(ngModel)]="password" name="password" required oninput="this.value = this.value.replace(/[^a-zA-Z0-9@]/g, ''); 
        if (this.value.startsWith('@')) {
          this.value = this.value.replace(/^@/, '');
        }" minlength="4"></ion-input>
      </ion-item>

      <div *ngIf="serverError" class="error-message">
        <small class="error-text">* {{ serverError }}</small>
      </div>

      <ion-button expand="block" type="submit" class="signup-button">Sign Up</ion-button>
    </form>

    <p class="terms">By signing up, you agree to our Terms & Privacy Policy</p>
    <div class="social-login">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-google"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
    <p class="login-link">Already have an account? <a (click)="goToLogin()">Login</a></p>
  </div>

  <!-- Modal Popup for vjId Name -->
  <div *ngIf="isPopupOpen" class="popup-overlay">
    <form (ngSubmit)="onSubmitName()" class="popup-form">
      <ion-item>
        <!-- <span class="close-popup-button" (click)="closePopup()">✖</span> -->
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required
          oninput="this.value = this.value.replace(/^[^a-zA-Z]|[^a-zA-Z0-9_.]/g, '');">
        </ion-input>
      </ion-item>

      <div *ngIf="serverError1" class="error-message">
        <small class="error-text">*{{ serverError1 }}</small>
      </div>

      <ion-button expand="block" type="submit" class="signup-button">Submit</ion-button>
    </form>
  </div>
</ion-content>