<div style="background-color: #ffffff;">

  <div class="header" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="app-name">
      <img src="../../assets/icon/favicon.png" alt="App Icon" class="app-logo" />
    </div>
    <div class="buttons">
      <div class="search-container">
        <i class="fas fa-search search-icon" (click)="toggleSearchBox()"></i>
        <div *ngIf="showSearchBox" class="search-box">
          <input type="text" placeholder="Search..." />
        </div>
      </div>
      <i class="bi bi-brightness-high-fill" (click)="toggleDarkMode()" *ngIf="!isDarkMode"></i>
      <i class="bi bi-moon-fill" (click)="toggleDarkMode()" *ngIf="isDarkMode"></i>
      <!-- <i class="fas fa-cog settings-icon" (click)="toggleSetting()"></i> -->
    </div>
  </div>

  <!-- New Body Section -->
  <div class="body-section">
    <p>Welcome to the body section of the page!</p>
  </div>



  <div class="footer">
    <i class="bi bi-house-door-fill" (click)="navigateTo('home')"></i>
    <i class="bi bi-file-play-fill" (click)="navigateTo('videos')"></i>
    <i class="bi bi-plus-square-fill" (click)="createPost()"></i>
    <i class="bi bi-person-fill" (click)="navigateTo('profile')"></i>
  </div>

</div>